*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background:linear-gradient(#010718c5,#010718c5),  url(rain.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.search-container {
  text-align: center;
  margin: 20px;
}

h1{
  color: #0fffaf;
  padding-bottom: 10px;
}

#search {
  padding: 10px;
  width: 300px;
  color: #0c052e;
  box-shadow: 0 0 8px 3px #0fffeb ;
}

button{
  padding: 5px;
  margin-left:10px ;
  border: solid 1px #0fffeb;
  background: #0c052e;
  color: #fff;
  transition: .5s;
}

button:hover{
  box-shadow: 0 0 10px 2px #0fffeb ;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 10px; 
  padding: 10px;
}

.gallery img {
  width: 100%; 
  height: 90%;
  cursor: pointer;
  border: #05c293 solid 2px;
  border-radius: 10%;
  transition: transform 0.2s;
}

.gallery img:hover {
  transform: scale(1.10);
  box-shadow: 0 0 10px 2px #0fffeb ;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.contain{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  position: relative;
  padding: 20px;
  background-color: #0c052e;
  max-width: 600px;
  border-radius: 10%;
}

.modal img {
  width: 100%;
  border-radius: 10%;
  box-shadow: 0 0 10px 2px #05c293 ;
}

#modal-info{
  color: #fff;
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#modal-info p, h2, a{
  padding-bottom: 3px;
}

a:link{
  color: #0fffaf;
  text-decoration: none;
}

.close {
  position: absolute;
  top: 40px;
  right: 25px;
  font-size: 60px;
  font-weight: bold;
  color: #0fffaf;
  cursor: pointer;
  z-index: 10000;
}
