*{
  margin: 0;
  padding: 0;
}

.doto {
  font-family: "Doto", sans-serif;
  font-size: 5rem;
  font-optical-sizing: auto;
  font-weight:700;
  font-style: normal;
  font-variation-settings:
    "ROND" 0;
}

body {
  font-family: 'Courier New', Courier, monospace;
  background: linear-gradient(135deg, #034257b9, #1b0331da), url(leaves.jpg); 
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff; 
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); 
  z-index: -1; 
}

.search-container {
  text-align: center;
  margin: 20px;
}

h1{
  color: #0fffaf;
  padding-bottom: 10px;
  background-color: #0c052e93;
  box-shadow: 0 0 10px 1px #b12eee ;
}

.search-container {
  text-align: center;
  margin: 40px auto;
}

h1 {
  color: #0fffaf;
  font-size: 3rem; 
  text-align: center;
  margin-bottom: 30px; 
  font-family: 'Arial', sans-serif; 
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px; 
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4); 
}


#search {
  padding: 12px 15px;
  width: 350px;
  color: #c9c9c9;
  background: #00000093;
  border: 2px solid #0fffeb;
  border-radius: 25px;
  font-size: 1.1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

#search:focus {
  outline: none;
  border-color: #05c293;
  box-shadow: 0 0 12px rgba(5, 194, 147, 0.7);
}


button {
  padding: 12px 20px;
  margin-left: 10px;
  border: 2px solid #0fffeb;
  background: #05c293;
  color: #fff;
  font-size: 1.1rem;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #0fffeb;
  color: #0c052e;
  box-shadow: 0 0 12px rgba(5, 194, 147, 0.5);
}

button:focus {
  outline: none;
  box-shadow: 0 0 12px rgba(5, 194, 147, 0.7);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
  gap: 10px; 
  padding: 10px;
}


.gallery img {
  width: 100%; 
  height: 85%;
  cursor: pointer;
  border: #05c293 solid 2px;
  border-radius: 10%;
  transition: transform 0.2s;
}

.gallery img:hover {
  transform: scale(1.10);
  box-shadow: 0 0 10px 2px #0fffeb ;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.contain{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  display: flex;
  padding: 2rem;
  background: linear-gradient(135deg, #130547e3, #351552e3), url(jellyfish.jpg);
  max-width: 55rem;
  max-height: 33rem;
  border-radius: 25px;
  overflow: hidden;
}

.modal img {
  width: 50%;
  border-radius: 10%;
  box-shadow: 0 0 10px 2px #05c293 ;
}

#modal-info{
  padding-left:2rem ;
  /* background: #06032471; */
}

#modal-info h2 {
  font-size: 2rem;
  color: #0fffaf;
  margin-bottom: 10px;
}

#modal-info p {
  color: #fff;
  margin: 5px 0;
  font-size: 1.8rem;
}

#modal-info a {
  color: #0fffaf;
  font-weight: bold;
  margin-top: 1rem;
}

.close {
  position: absolute;
  top: 50px;
  right: 85px;
  font-size: 60px;
  font-weight: bold;
  color: #0fffaf;
  cursor: pointer;
  z-index: 10000;
}
